telegram {
    bot {
        token = ""
    }
    chat {
        id = 0
    }
}

savemoney {
    db {
        path = ""
    }
}

git {
    git-dir = ""
    work-tree = ""
}

systemd {
    service = ""
}